@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --dark-color:#151925;
    --accent-color:#3373fc;
    --white-color:#ffffff;
    --perma-white-color:#ffffff;
    --perma-dark-color:#151925;
}
*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
html
{
    scroll-behavior: smooth;
    color: var(--white-color);
}
.dark-color
{
    background-color: var(--dark-color);
}
.accent-color-text
{
    color: var(--accent-color);
}
.accent-color
{
    background-color: var(--accent-color);
}
.transparent-color
{
    background-color: var(--accent-color);
}
.flex
{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.flex.col
{
    flex-direction: column;
}
.rounded
{
    border-radius: 10rem;
}
.transition
{
    transition: all 200ms ease-in-out;
}
.transition.snappy
{
    transition: all 200ms cubic-bezier(1,.1,.1,1);
}
.shadow
{
    box-shadow: 0px 24px 83px -8px rgba(0,0,0,0.4);
}
.section-title
{
    /* color: var(--accent-color); */
    font-weight: 900;
    font-size: 4rem;
    padding: 4rem 2rem 2rem 2rem;
}
.section-title::after
{
    content: ".";
    color: var(--accent-color);
}
.section-title::before
{
    content: "";

    height: 3px;
    width:40%;

    background-color: var(--accent-color);

    position: absolute;
    transform: translateY(5rem);
}
@media(max-width:850px)
{
    .section-title
    {
        font-size: 2rem;
    }
    .section-title::before
    {
        transform: translateY(2.5rem);
    }
}
.container
{
    padding: 2rem 10rem;
}
@media(max-width:500px)
{
    .container
    {
        padding: 0;
    }
}

button:hover
{
    background-color: var(--perma-white-color);
    color: var(--perma-dark-color);
    cursor: pointer;
}
button:active
{
    transform: scale(.9);
}
a
{
    text-decoration: none;
    color: inherit;
}